#content-box {
font-family: 'Carrois Gothic SC', sans-serif;
}

.taphouse-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.beer-header {
  font-family: 'Federo', sans-serif;
}

#ontap {
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 30px;
}

.beerbox {
  margin-bottom: 35px;
  padding-left: 0px;
}

.name-brewery-location {

}

.beer-description {

}

.style-abv-price {

}

.bottled-wines {
  display: inline-flex;
  margin-bottom: 35px;
}

.bottled-beers {
  border: 2px solid black;
  border-radius: 15px;
  margin-right: 20px;
}

.bottled-beer-header {
font-family: 'Federo', sans-serif;
}

.bottled-beer-box {

}

.bottled-price {

}

.wines {
  border: 2px solid black;
  border-radius: 15px;
}

.wines-header {
font-family: 'Federo', sans-serif;
}

.white-wines-box {

}

.red-wines-box {

}

.cocktails {
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 35px;
}

.cocktail-header {
font-family: 'Federo', sans-serif;
}

.cocktail-box {

}
